<footer class="container-fluid footer d-flex justify-content-between">
  <div class="footer__image">
    <img src="assets/djevojcica.svg" width="" height="" />
  </div>
  <div class="d-flex flex-column justify-content-center">
    <div class="img-wrapper">
      <img src="assets/logo-trans.png" alt="" />
    </div>
    <div>
      <p class="section-text text--white">NVO „Nacionalni osmijeh“</p>
      <p class="section-text text--white">info@nacionalniosmijeh.me</p>
      <p class="section-text text--white text-center">068 291 117</p>
	</div>
	<div class="social-links">
		<a href="https://www.facebook.com/"> <img src="assets/facebook.svg" alt=""></a>
		<a href="https://www.instagram.com/"> <img src="assets/instagram.svg" alt=""></a>
	</div>
  </div>
  <div class="footer__image">
    <img src="assets/djecak.svg" />
  </div>
</footer>
