<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top header-wrapper">
      <a class="navbar-brand" href="../index.html"
        ><img src="../assets/osmijeh-logo.jpg" class="img-responsive"
      /></a>
      <button
        class="navbar-toggler bg-white"
        type="button"
        id="toggler-button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item hover-link">
            <a class="nav-link" href="../index.html"
              >Pocetna <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../doniraj.html">Doniraj</a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../vijesti.html">Vijesti</a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../blog.html">Blog</a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../galerija.html">Galerija</a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../prijatelji.html">Prijatelji</a>
          </li>
          <li class="nav-item hover-link">
            <a class="nav-item nav-link" href="../onama.html">O nama</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
