.doniraj-intro {
    padding-top: 150px;
}
.img-fluid {
    margin-top:-150px;
}
.heading-container {
    margin-top: 150px;
    text-align: center;
}

.donation-form {
	font: var(--font-muli);
}
.category-item {
	height: 160px;
	background: #dedede;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	font-weight: 500;
	flex-direction: column;
}

.category-item--active {
	background: var(--color-turquoise-blue);
}
.donation-item {
	display: flex;
	justify-content: space-between;
	padding: 12px 15px;
	border-radius: 8px;
	border: solid 1px rgba(139, 146, 171, 0.22);
	cursor: pointer;
}
.font-style {
	font-size: 20px;
	font-weight: 900;
}
.donation-item > img {
	display: none;
}
.donation-item--active {
	border: 1px solid var(--color-turquoise-blue);
}
.donation-item--active > img {
	display: block;
}
.donation-cart-wrapper {
	border-radius: 8px;
	border: 1px dashed rgba(139, 146, 171, 0.22);
}
.donation-cart-item {
	display: flex;
	justify-content: space-between;
}
.donation-cart-item > img {
	display: none;
}
.donation-cart-item:hover {
	cursor: pointer;
	color: #ff6200;
}
.donation-cart-item:hover > img {
	display: block;
}
.popup1 {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: white;
}