.header-wrapper {
  margin: 10px 100px;
}
#navbarNavAltMarkup {
    /* justify-content: flex-end; */
    font-family: var(--font-muli);
    font-size: 18px;
    color: var(--color-gray);
}

.hover-link::after {
    display: block;
    content: "";
    border-bottom: 4px solid #41bdd5;;
    transform: scaleX(0);
    transition: transform ease-in-out 0.3s;
}

.hover-link:hover::after {
    transform: scaleX(1);
}