.home-intro {
	padding-top: 150px;
	background: url("../assets/home-background.jpg");
	height: 100vh;
	color: var(--color-white);
}
h3 {
	font-size: 36px;
}

.home-info {
	top: -30px;
	position: relative;
}
.home-info__container {
	margin: auto;
	width: 95%;
	top: -36px;
	border-radius: 20px;
	box-shadow: 0 3px 18px 0 rgba(6, 170, 202, 0.3);
	background-image: linear-gradient(
		243deg,
		var(--color-turquoise-blue) 63%,
		var(--color-teal-blue) 10%
	);
}
.home-info__text {
	font-family: var(--font-play-fair);
	font-size: 50px;
	color: var(--color-white);
	line-height: 1.02;
}
.home-info__number {
	font-family: var(--font-bebas);
	font-size: 181px;
	color: var(--color-white);
}
.left-line {
	border-left: 2px solid white;
}
.home-info__circle {
	height: 260px;
	width: 260px;
	border-radius: 50%;
	padding: 20px;
	border: 8px solid white;
}
.home-about {
	margin-top: 100px;
}
.home-about__text {
	position: relative;
}
.home-about__text::after {
	position: absolute;
	content: "";
	width: 91%;
	height: 154%;
	background: #9090900d;
	left: 8%;
	top: -76px;
}
.home-about__circle {
	z-index: 1;
	position: absolute;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background: var(--color-teal-blue);
}
.home-about__image img {
	/* position: absolute; */
	width: 100%;
	/* height: auto;
	z-index: 10; */
}
.home-news {
	background-color: rgba(0, 0, 0, 0.04);
}
.form-control {
	border:0;
	outline:0;
	border-width: 0 0 2px;
	border-color:turquoise;
}
.map-position {
	position: absolute;
	
}

