@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
	--font-muli: "Muli", sans-serif;
	--font-play-fair: "Playfair Display", serif;
	--font-bebas: "Bebas Neue", cursive;

	--color-dark: #2e3038;
	--color-white: #ffffff;
	--color-turquoise-blue: #06aaca;
	--color-teal-blue: #00859f;
	--color-gray: #8b92ab;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-play-fair);
}
.section-title {
	font-family: var(--font-play-fair);
	font-size: 72px;
	font-weight: bold;
}
.d-flex--center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-container {
	margin: 0 100px;
}
.section-text {
	font-size: 18px;
	line-height: 1.5;
	font-family: var(--font-muli);
}
.text--white {
	color: var(--color-white);
}
.text--gray {
	color: var(--color-gray);
}
.text--dark {
	color: var(--color-dark);
}
.button {
	font-family: Muli;
	font-size: 18px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.13;
	letter-spacing: normal;
	border-radius: 38px;
	padding: 15px 60px;
}
.button-white {
	background: transparent;
	color: white;
	border: 2px solid white;
}
.button-blue {
	background: var(--color-turquoise-blue);
	color: white;
	border: 2px solid var(--color-turquoise-blue);
}

.footer {
	padding: 0;
	height: 320px;
	background: url("../assets/pozadina.svg");
}
.footer__image {
	height: 349px;
	position: relative;
	top: -30px;
}
.footer__image > img {
	height: 100%;
}

.form-style {
	border: none;
	border-bottom: 1px solid #c6c9d6 !important;
	border-radius: 0;
}
.form-style::placeholder {
	color: #c6c9d6;
}
.form-style:focus {
	outline: none;
	box-shadow: none;
	border-bottom: 3px solid var(--color-turquoise-blue) !important;

}

@media (max-width: 500px) {
	.section-container {
		margin: 0 20px;
	}
	.flex-mobile-column {
		flex-direction: column;
	}
	.footer__image {
		height: 100px;
		width: 100px;
	}
}
